.name{
    color:darkviolet ;
}
.qoute{
    color: darkmagenta;
}
.code{
    color: blue;
}
.error{
    color: red;
}
.student table{
    border: 1px solid #ccc;
    width: 300px;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.student table td,.student table th{
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.student table th{
    width: 100px;

}